altair
appnope 
asttokens
attrs
backports.zstd
blinker
branca 
Brotli 
cachetools 
certifi
click 
comm 
contourpy 
cycler 
debugpy 
decorator 
entrypoints 
executing 
folium 
fonttools 
geopandas 
gitdb 
GitPython 
h2 
hpack 
hyperframe 
idna 
importlib_metadata 
ipykernel 
ipython 
ipython_pygments_lexers 
jedi 
Jinja2 
joblib 
jsonschema
jsonschema-specifications 
jupyter_client 
jupyter_core 
kiwisolver 
mapclassify
markdown-it-py 
MarkupSafe 
matplotlib==3.10.8
matplotlib-inline
mdurl
munkres==1.1.4
narwhals
nest_asyncio
networkx 
numpy 
pandas==2.3.3
parso 
pexpect
pillow 
platformdirs 
prompt_toolkit 
protobuf==3.20.3
psutil 
ptyprocess 
pure_eval 
pyarrow 
pydeck 
Pygments 
Pympler 
pyogrio 
pyparsing 
pyproj 
PySocks 
python-dateutil 
pytz==2025.2
pyzmq
referencing
requests
rich
rpds-py
scikit-learn 
scipy 
semver 
shapely
six 
stack_data 
streamlit==1.54.0
tenacity==9.1.4
threadpoolctl 
toml
toolz 
tornado 
traitlets 
typing_extensions
tzdata==2025.3
tzlocal
unicodedata2
urllib3
validators
vega_datasets
vl-convert-python==1.9.0.post1
wcwidth
xyzservices
zipp
